<div class="col-md-6 col-md-offset-1 panel panel-default">
  <div class="text-center">
    <h3><%= link_to t("subjects.new_subject"), admin_subjects_path %></h3>
    <hr>
  </div>
  <%= form_for [:admin, @subject] do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <p><%= f.label :name, t("subjects.name") %></p>
    <p><%= f.text_field :name, class: "form-control" %></p>
    <p><%= f.label :description, t("subjects.description") %></p>
    <p><%= f.text_area :description, class: "form-control" %><p>
    <%= f.fields_for :tasks do |builder| %>
      <%= render "subject_task_fields", f: builder %>
    <% end %>
    <p>
      <%= link_to_add_fields t("subjects.add_field"), f, :tasks %>
    </p>
    <%= f.submit t("subjects.submit"),
      class: "btn btn-primary col-md-4 col-md-offset-4" %>
  <% end %>
</div>
