<%= form_for @user_subject do |f| %>
  <table class="table table-hover">
    <%= f.collection_check_boxes :course_subject_task_ids,
      @course_subject_tasks, :id, :name_with_initial do |b| %>
      <tr>
        <td>
          <%= b.label {b.check_box + "  " + b.text} %>
          <br/>
        </td>
      </tr>
    <% end %>
  </table>
  </div>
  <%= hidden_field_tag :update, true %>
  <div class="col-md-12">
    <div class="col-md-4 col-md-offset-4">
      <p>
        <%= f.submit t("subject.update"),
          class: "btn btn-lg btn-primary btn-block" %>
      </p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-4 col-md-offset-4">
      <p>
        <% if @user_subject.not_finish? %>
          <%= link_to t("subject.finish"),
            user_subject_path((@user_subject),
            "user_subject[status]": "Finished"), method: :put,
            class: "btn btn-lg btn-success btn-block" %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
