<% provide :title, @course_subject.subject_name %>

<div class="col-md-4 panel panel-default">
  <h3>
    <%= @course_subject.subject_name %>
  </h3>
  <%= "#{t "subjects.status"} #{@user_subject.status}" %>
  <hr>
  <h3><%= t "subjects.description" %></h3>
  <p><%= @course_subject.subject_description %></p>
</div>

<div class="col-md-7 col-md-offset-1 panel panel-default">
  <%= render "update_tasks" %>
</div>
