<%= provide :title, @user.name %>

<div class="col-md-3 panel panel-default">
  <h4><%= t("user.name", name: @user.name) %></h4>
  <hr>
  <h4><%= t("user.email", email: @user.email) %></h4>
</div>

<div class="col-md-8 col-md-offset-1 panel panel-default">
  <h3>
    <%= t "user.activities" %>
  </h3>
  <hr>
  <div class="activity">
    <%= render "activity" %>
  </div>
</div>

