<%= provide :title, @course.name %>

<div>
  <ul class="list-inline">
    <h3><%= "#{@course.name} #{t "courses.subjects"}" %></h3>
    <p>
      <%= pluralize @course.users.count, t("user_courses.users") %>
      <%= t "user_courses.in_course" %>
    </p><br>
    <% @course.course_subjects.each do |course_subject| %>
      <li>
        <%= link_to course_subject.subject.name, course_subject,
          class: "btn btn-lg btn-default" %>
      </li>
    <% end %>
    <hr>
    <aside>
      <h3><%= t "courses.description" %></h3><br>
      <p><%= @course.description %></p>
    </aside>
    <aside>
      <h3><%= t "courses.activites" %></h3><br>
      <%= render "course_activity" %>
    </aside>
  </ul>
</div>
