<%= provide :title, @course.name %>

<div>
  <ul class="list-inline">
    <h3><%= "#{@course.name} #{t "courses.subjects"}" %></h3>
    <p>
      <%= "#{t "user_courses.users_in_course"}
        #{pluralize @course.users.count, t("user_courses.users")}" %>
    </p><br>
    <% @course.course_subjects.each do |course_subject| %>
      <% if course_subject.started? %>
        <% if find_user_subject_by_user_id(course_subject, current_user).
          started? %>
          <li>
            <%= link_to course_subject.subject.name, course_subject,
              class: "btn btn-lg btn-success" %>
          </li>
        <% else %>
          <li>
            <p class="btn btn-lg btn-default subject-finished">
              <%= course_subject.subject.name %>
            </p>
          </li>
        <% end %>
      <% else %>
        <li>
          <p class="btn btn-lg btn-default subject-not-started">
            <%= course_subject.subject.name %>
          </p>
        </li>
      <% end %>
    <% end %>
    <hr>
    <aside>
      <h3><%= t "courses.description" %></h3><br>
      <p><%= @course.description %></p>
    </aside>
    <aside>
      <h3><%= t "courses.activites" %></h3><br>
      <%= render "course_activity" %>
    </aside>
  </ul>
</div>
