<% provide :title, t("user.all") %>
<% provide :action, @user.id.nil? ? t("user.new") : t("user.edit") %>
<div class="row">
  <div class="col-md-5 panel panel-default">
    <h3><%= t "user.all" %></h3>
    <hr>
    <%= paginate @users %>
    <ul class="list-unstyled">
      <% @users.each do |user| %>
        <div class="col-md-6">
          <li><%= user.name %></li>
        </div>
        <div class="col-md-6">
          <li>
            <%= link_to t("user.edit"), edit_admin_user_path(user),
              remote: true %>
            <%= link_to t("user.delete"), admin_user_path(user),
              method: :delete, data: {confirm: t("user.confirm")} %>
          </li>
        </div>
        <br>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6 col-md-offset-1 panel panel-default">
    <div class="text-center">
      <h3><%= link_to t("user.new"), new_admin_user_path, remote: true,
      id: "edit-user-link"%></h3>
      <hr>
    </div>
    <div class="user-form">
      <% if @from %>
        <%= render "user_form", action: @from %>
      <% end %>
    </div>
  </div>
</div>
