<%= provide :title, @course.name %>

<div class="row col-md-6">
  <div class="col-md-12 panel panel-default">
    <h3><%= @course.name %></h3>
    <hr>
    <p>
      <% if @course.started? %>
        <strong><%= t "courses.started" %></strong>
      <% else %>
        <p>
          <%= form_for [:admin, @course] do |f| %>
            <%= f.hidden_field :status, value: :started %>
            <%= f.submit t("courses.start"), class: "btn btn-success" %>
          <% end %>
        </p>
      <% end %>
    </p>
    <p>
      <%= t "courses.count" %>
      <%= pluralize @course.users.count, t("courses.users") %>
    </p>
  </div>

  <div class="col-md-12 panel panel-default">
    <h3><%= t "courses.subjects" %></h3>
    <hr>
    <ul class="list-unstyled">
      <% @course.course_subjects.each do |course_subject| %>
        <li>
          <div class="col-md-4">
            <%= course_subject.subject_name %>
          </div>
          <div class="col-md-4">
            <%= link_to t("courses.custom_tasks"),
              edit_admin_course_subject_path(course_subject),
              class: "btn btn-default btn-xs" %>
          </div>
          <div class="col-md-4">
            <% if @course.started? && !course_subject.started? %>
              <%= form_for [:admin, course_subject], method: :patch do |f| %>
                <%= f.hidden_field :status, value: :started %>
                <p>
                  <%= f.submit t("courses.start_subject"),
                    class: "btn btn-success btn-xs" %>
                </p>
              <% end %>
            <% elsif @course.started? && course_subject.started? %>
              <p>
                <%= link_to t("courses.start_subject"), "",
                  class: "btn btn-default btn-xs subject-started" %>
              </p>
            <% else %>
              <p>
                <%= link_to t("courses.start_subject"), "",
                  class: "btn btn-default btn-xs course-not-started" %>
              </p>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-md-5 col-md-offset-1 panel panel-default">
  <h3><%= t "courses.assign_trainee" %></h3>
  <hr>
  <%= paginate @users %>
  <%= form_for [:admin, @course] do |f| %>
    <ul class="list-unstyled col-md-offset-1">
      <%= f.collection_check_boxes :user_ids, @users, :id, :name do |b| %>
        <li><%= b.label {b.check_box + b.text} %></li>
      <% end %>
    </ul>
    <div class="col-md-4 col-md-offset-4">
      <%= f.submit t("courses.assign"),
        class: "btn btn-block btn-success" %>
      <h1></h1>
    </div>
  <% end %>
</div>
